* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#body {
    background-color: red;
    padding: 12px 48px  0 48px;
    border-radius: 50px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.247),
                0px 0px 10000px rgba(255, 0, 0, 0.329);
}

#screen {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.247);

}


#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#color, #eraser, #fill, #clear{
    appearance: none;
    background-color: transparent;
    color: red;
    border: 0px solid transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.726);
    transition: 0.3s ease;
}

#color:hover, #eraser:hover, #fill:hover, #clear:hover {
    cursor: pointer;
    color: white;
    border: 0px solid transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.726);
    transition: 0.1s ease;
}

#sliderRange {
    position: absolute;
    left: 50%;
    margin-bottom: 56px;
    color: rgba(0, 0, 0, 0);
    transition: .5s ease;
}

#gridSlider {
    appearance: none;
    border-radius: 10px;
    background-color: rgb(148, 0, 0);
    box-shadow: inset 0 0 10px rgb(255, 0, 0);
    width: 100px;
}

#gridSlider::-webkit-slider-thumb {
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5),
                -1px 0px 4px rgba(0, 0, 0, 0.349);
}

#gridSlider::-moz-range-thumb {
    cursor: pointer;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5),
                -1px 0px 4px rgba(0, 0, 0, 0.349);
}

#colorPicker {
    width: 0;
    border:none;
    position: absolute;

}

.box {
    flex-shrink: 0;
    transition: 1s cubic-bezier(.035,1.08,.02,.97);
}

.box:hover {
    background-color: rgba(228, 228, 228, 1);
    
}