#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#score {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-size: 2rem;
}

#playGame {
    display: none;
}

#humanScore {
    color: green;
}

#computerScore {
    color: red;
}